<!--<a href="mailto:one@two.com">

    MailTo with Multiple Recipients
    
    <a href="mailto:one@two.com,two@three.com">
    
    MailTo with Subject
    
    <a href="mailto:one@two.com?subject=Comments from MailTo Syntax Page">
    
    MailTo with a Copy
    
    <a href="mailto:one@two.com?cc=one@two.com">
    
    MailTo with a Blind Copy
    
    <a href="mailto:one@two.com?bcc=one@two.com">
    
    MailTo with message already started in Body
    
    <a href="mailto:one@two.com?body=I am having trouble finding information on ">
    
    MailTo with multiline message in Body
    
    <a href="mailto:one@two.com?body=Attached message.">
    There are various things you can do using mailto: which is html element. -->
<!--<a href="mailto: gmadden@its.jnj.com?cc=SSorens8@ITS.JNJ.com,vjoginap@ITS.JNJ.com,WCantono@ITS.JNJ.COM,ITS-GCC@its.jnj.com&Subject=Technical%20Outage%20Notice–{UNDER%20ANALYSIS/RESOLUTION%20IN%20PROGRESS/RESOLVED}-{Systems Affected}&
body=C:/Users/10685554/P1-P2/src/app/body.html



" target="_blank">Contact via email</a>-->
<!--<a href="D:\test.msg">Email</a>-->
<p>Visit my <a href="index.html">project homepage</a>.</p>

